extends layout

block content
  div(class="container")
   div.row
    div(class="col s2 offset-s5")
     div.collection(id="user-list") 
   div.row
    div(class="input-field col s2 offset-s5" id="reservation-input")
     input(type="text")     
    div(class="input-field col s1")
     a.btn(id="reservation-add") add
        
   div.row(id="reservation-list")    
     
     
      
  div(style="display: none", id="user-template"). 
   <%= userName %>