doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css")
    
  body( style="color: #37474f")
    block content
    
  script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")    
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js")  
  
  
  script(type="text/javascript" src="api/underscore.js")
  script(type="text/javascript" src="api/backbone.js")
  script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js")
  script(type="text/javascript" src="src/appclient.js")
